<!-- <div class="container-fluid">
    <div class="row d-flex flex-row">
         <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 bg-dark w-17rem sidebar-container">
            <div class="d-flex mt-4 mx-2">
                <img src="../../../assets/logo.png" alt="" width="20" height="20">
                <h6 class="fw-medium text-white mx-2">MatX</h6>
            </div>
            <div class="d-flex mx-3 mt-5">
                <img src="../../../assets/face-7.jpg" alt="" class="w-3rem h-3rem rounded-circle">

                <div class="text-secondary small">
                    <small class="text-white mx-3">Watson Joyce</small><br>
                    <i class="fa-solid fa-gear ml-3"></i>
                    <i class="fa-solid fa-message mx-2"></i>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
            <a href="#" class="btn bg-orange-400 btn-block mb-3 text-start text-white ml-4 small mt-4 w-75 p-2">
                <i class="fa-solid fa-grip mx-2"></i> Dashboard
            </a>
            <div class="sidebar-section px-3">
                
                <p class="text-secondary link-pages fw-semibold mt-2 mx-2 mb-2">PAGES</p>
                <a href="#"
                    class="d-flex justify-content-between mt-3 align-items-center text-decoration-none text-light py-1">
                    <div class="d-flex align-items-center small fw-medium">
                        <i class="fa-solid fa-user-check small mx-3"></i> Sessions
                    </div>
                    <span class="badge bg-primary small ms-auto">6</span>
                    <i class="fas fa-chevron-right arrow ms-auto"></i>
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 small fw-medium mt-3">
                    <i class="fa-regular fa-square mx-3 small"></i> Blank Page
                </a>

                
                <p class="text-secondary link-pages fw-semibold mx-2 mt-4 mb-3">COMPONENTS</p>
                <a href="#" class="d-flex align-items-center fw-medium text-light py-1 small ">
                    <i class="fa fa-file mx-3" aria-hidden="true"></i>
                    Forms <i class="fas fa-chevron-right arrow ms-auto small"></i>
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 mt-3 fw-medium small">
                    <i class="fa fa-bars mx-3" aria-hidden="true"></i>Data Table
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 small fw-medium mt-3">
                    <i class="fa-regular fa-square-check mx-3"></i> Material Kit
                </a>

                
                <p class="text-secondary link-pages fw-semibold mx-2 mt-4 mb-2">OTHERS</p>
                <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-4">
                    <i class="fas fa-icons icon mx-3"></i> Icons
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                    <i class="fa fa-align-center mx-3" aria-hidden="true"></i>
                    Multi level <i class="fas fa-chevron-right arrow ms-auto small"></i>
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                    <i class="fas fa-file-alt icon mx-3"></i>Documenataton
                </a>
                <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                    <i class="fa fa-caret-square-down mx-3" aria-hidden="true"></i> Upgrade to PRO
                </a>
            </div>
        </div>  -->
<!-- <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 col-sm-8 w-50rem"> -->
<!-- <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="d-flex align-items-center ms-auto mt-2">
                        <a href="#" class="text-white me-2">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="notification mx-4">
                            <a href="#" class="text-white">
                                <i class="fas fa-bell"></i>
                                <span class="badge-notification">3</span>
                            </a>
                        </div>
                        <div class="user-avatar">
                            <img src="../../../assets/face-7.jpg" class="w-2rem h-2rem rounded-circle mx-3">
                        </div>
                    </div>
                </div>
            </nav> -->
<!-- chart -->
<!-- <div class="m-0 p-0">
                <div class="mx-0" style="background-color: #8a4fff;">
                    <div class="text-white">
                        <h5 class="py-3 small ">Last 12 Months Sales</h5>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div> -->
<!-- </div>
    </div>
</div> -->




















<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 d-md-block bg-dark text-white sidebar w-17rem">
            <div class="position-sticky pt-3">
                <div class="d-flex mt-4 mx-2">
                    <img src="../../../assets/logo.png" alt="" width="20" height="20">
                    <h6 class="fw-medium text-white mx-2">MatX</h6>
                </div>
                <div class="d-flex mx-3 mt-5">
                    <img src="../../../assets/face-7.jpg" alt="" class="w-3rem h-3rem rounded-circle">
                    <div class="text-secondary small">
                        <small class="text-white mx-3">Watson Joyce</small><br>
                        <i class="fa-solid fa-gear ml-3"></i>
                        <i class="fa-solid fa-message mx-2"></i>
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </div>
                </div>
                <a href="#" class="btn bg-orange-400 btn-block mb-3 text-start text-white ml-4 small mt-4 w-75 p-2">
                    <i class="fa-solid fa-grip mx-2"></i> Dashboard
                </a>
                <div class="sidebar-section px-3">

                    <p class="text-secondary link-pages fw-semibold mt-2 mx-2 mb-2">PAGES</p>
                    <a href="#"
                        class="d-flex justify-content-between mt-3 align-items-center text-decoration-none text-light py-1">
                        <div class="d-flex align-items-center small fw-medium">
                            <i class="fa-solid fa-user-check small mx-3"></i> Sessions
                        </div>
                        <span class="badge bg-primary small ms-auto">6</span>
                        <i class="fas fa-chevron-right arrow ms-auto"></i>
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 small fw-medium mt-3">
                        <i class="fa-regular fa-square mx-3 small"></i> Blank Page
                    </a>


                    <p class="text-secondary link-pages fw-semibold mx-2 mt-4 mb-3">COMPONENTS</p>
                    <a href="#" class="d-flex align-items-center fw-medium text-light py-1 small ">
                        <i class="fa fa-file mx-3" aria-hidden="true"></i>
                        Forms <i class="fas fa-chevron-right arrow ms-auto small"></i>
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 mt-3 fw-medium small">
                        <i class="fa fa-bars mx-3" aria-hidden="true"></i>Data Table
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 small fw-medium mt-3">
                        <i class="fa-regular fa-square-check mx-3"></i> Material Kit
                    </a>


                    <p class="text-secondary link-pages fw-semibold mx-2 mt-4 mb-2">OTHERS</p>
                    <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-4">
                        <i class="fas fa-icons icon mx-3"></i> Icons
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                        <i class="fa fa-align-center mx-3" aria-hidden="true"></i>
                        Multi level <i class="fas fa-chevron-right arrow ms-auto small"></i>
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                        <i class="fas fa-file-alt icon mx-3"></i>Documenataton
                    </a>
                    <a href="#" class="d-flex align-items-center text-light py-1 fw-medium small mt-3">
                        <i class="fa fa-caret-square-down mx-3" aria-hidden="true"></i> Upgrade to PRO
                    </a>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <main class="col-md-8 col-lg-9 main-content " style="background-color: #8a4fff; height: 105vh; width: 79%;">
            <nav class="navbar navbar-expand-lg top-navbar">
                <div class="container-fluid shadow-sm mx-0 p-2" style="background-color: #8a4fff;">
                    <div class="d-flex align-items-center ms-auto mt-2">
                        <a href="#" class="text-white me-2">
                            <i class="fas fa-search"></i>
                        </a>
                        <div class="notification mx-4">
                            <a href="#" class="text-white">
                                <i class="fas fa-bell"></i>
                                <span class="badge-notification">3</span>
                            </a>
                        </div>
                        <div class="user-avatar">
                            <img src="../../../assets/face-7.jpg" class="w-2rem h-2rem rounded-circle mx-3">
                        </div>
                    </div>
                </div>
            </nav>
            <!-- chart -->
            <div class="mt-8 p-0">
                <div class="mx-0">
                    <div class="text-white">
                        <h5 class="py-3 small fw-bold">Last 12 Months Sales</h5>
                        <canvas id="myChart" class="h-27rem w-60rem"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 w-23rem mt-6
                mx-2 h-6rem shadow-sm border-0">
                    <div class="d-flex my-3">
                        <i class="fa fa-users fs-3 ml-4 mt-3  text-blue-600" aria-hidden="true"></i>
                        <div class="text-secondary small mt-2 mx-3">
                            <span class="mb-0">New leads</span><br>
                            <small class="text-blue-600">3,050</small>
                        </div>
                        <div class="ms-auto mt-3 mx-3">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- second -->
                <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 w-23rem mt-6 h-6rem shadow-sm border-0">
                    <div class="d-flex my-3">
                        <i class="fa fa-usd fs-3 ml-4 mt-3  text-blue-600" aria-hidden="true"></i>
                        <div class="text-secondary small mt-2 mx-3">
                            <span class="mb-0">This week sales</span><br>
                            <small class="text-blue-600">$80,500</small>
                        </div>
                        <div class="ms-auto mt-3 mx-3">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second card -->
            <div class="row mt-3">
                <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 w-23rem
                mx-2 h-6rem shadow-sm border-0">
                    <div class="d-flex my-3">
                        <i class="fa fa-home fs-3 ml-4 mt-3 text-orange-400" aria-hidden="true"></i>
                        <div class="text-secondary small mt-2 mx-3">
                            <span class="mb-0">Inventory Status</span><br>
                            <small class="text-orange-400">8.5% Stock Surplus</small>
                        </div>
                        <div class="ms-auto mt-3 mx-3">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- second -->
                <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 w-23rem
                 h-6rem shadow-sm border-0">
                    <div class="d-flex my-3">
                        <i class="fa fa-cart-arrow-down fs-3 ml-4 mt-3 text-orange-400" aria-hidden="true"></i>
                        <div class="text-secondary small mt-2 mx-3">
                            <span class="mb-0">New leads</span><br>
                            <small class="text-orange-400">3,050</small>
                        </div>
                        <div class="ms-auto mt-3 mx-3">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-4 col-sm-4">
             </div>
             
        </main>
    </div>
</div>



<!-- <p-table [value]="products" class="table">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Revenue</th>
            <th>Stock Status</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <img src="../../../assets/face-7.jpg" alt="Product Image" class="product-image"/>
                {{ product.name }}
            </td>
            <td>{{ product.revenue }}</td>
            <td>
                <span [ngClass]="{
                    'badge bg-warning': product.stockStatus === '15 available',
                    'badge bg-primary': product.stockStatus === 'in stock',
                    'badge bg-danger': product.stockStatus === 'out of stock'
                }">
                    {{ product.stockStatus }}
                </span>
            </td>
            <td>
                <i class="pi pi-pencil action-icon text-primary"></i>
            </td>
        </tr>
    </ng-template>
</p-table> -->
